# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
out/production/algorithm/origintest/StringEqualsTest.class
src/origintest/StringEqualsTest.java
/ApiTest/ApiTest.iml
/*/*.iml
target/